body
{
	background-color: #facd68;
	text-align: center;
}
h2
{
	text-align:left;
}
li {
  width: 250px;
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;

}

.form-group {
  margin-bottom: 5px;
}
